<div class="container px-5">
    <h3 class="text-center mb-5">Change Password</h3>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="email" class="form-label">Email Id</label>
            <input type="text" formControlName="email" class="form-control" id="email">

            <div class="alert alert-danger" *ngIf="(password?.touched || password?.dirty) && password?.invalid">
                <div *ngIf="$any(password?.errors).required">
                    Email is required
                </div>
                <div *ngIf="$any(password?.errors).email">
                    Email Id format is invalid
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">New Password</label>
            <input type="password" formControlName="password" class="form-control" id="password">

            <div class="alert alert-danger" *ngIf="(password?.touched || password?.dirty) && password?.invalid">
                <div *ngIf="$any(password?.errors).required">
                    Password is required
                </div>
                <div *ngIf="$any(password?.errors).pattern">
                    Password must have 8 to 15 characters and contain at least one lowercase letter, one uppercase
                    letter, one numeric digit, and one special character
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword">

            <div class="alert alert-danger"
                *ngIf="(confirmPassword?.touched || confirmPassword?.dirty) && confirmPassword?.invalid">
                <div *ngIf="$any(confirmPassword?.errors).required">
                    Password is required
                </div>
                <div *ngIf="$any(confirmPassword?.errors).pattern">
                    Password must have 8 to 15 characters and contain at least one lowercase letter, one uppercase
                    letter, one numeric digit, and one special character
                </div>
            </div>
        </div>
        <div class="mb-3 text-center">
            <button class="btn btn-danger" type="submit">Submit</button>
        </div>
    </form>
</div>